<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RecepcionComprobantesOfflineServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RecepcionComprobantesOfflineServiceSoapBinding1" />
                <binding name="AutorizacionComprobantesOfflineServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AutorizacionComprobantesOfflineServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cel.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline"
                binding="basicHttpBinding" bindingConfiguration="RecepcionComprobantesOfflineServiceSoapBinding"
                contract="Recepcion.RecepcionComprobantesOffline" name="RecepcionComprobantesOfflinePort" />
            <endpoint address="https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline"
                binding="basicHttpBinding" bindingConfiguration="AutorizacionComprobantesOfflineServiceSoapBinding"
                contract="Autorizacion.AutorizacionComprobantesOffline" name="AutorizacionComprobantesOfflinePort" />
        </client>
    </system.serviceModel>
</configuration>